process {
    withName: '.*GNOMAD_SNVS:*' {
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*:GNOMAD_SNVS:BCFTOOLS_ANNOTATE_GNOMAD_SNVS' {
        ext.args = [
            '--include "FILTER=\'PASS\'"',
            '--remove ^INFO/AF,INFO/AF_grpmax',
            '--output-type b',
            '--write-index',
            '--no-version'
        ].join(' ')
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*:GNOMAD_SNVS:BCFTOOLS_CONCAT' {
        ext.args = '--output-type z --write-index=tbi --no-version'
        publishDir = [
            enabled: false
        ]
    }
    withName: '.*:GNOMAD_SNVS:BCFTOOLS_SORT' {
        ext.prefix = { "${meta.id}_sorted" }
        ext.args = '--output-type z --write-index=tbi'
        publishDir = [
            enabled: false
        ]
    }
}
